#corner{
	background-color: #007bff;
}
#side-panel{
	padding: 0px;
	width: 100%;
	background-color: #007bff;
}
.panel-btns{
	cursor: pointer;
	height: 150px;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.panel-btns:hover{
	background-color: #006fe6;
}
.panel-btns div{
	top: 53px;
	position: relative;
}
#header{
	background-color: #007bff;
	height: 90px;
}
#header-title{
	width: 100%;
	text-align: center;
	font-weight: 700;
	color: #fff;
	font-size: 20px;
	margin-top: 25px;
}
#main-panel{
	background-color: #fff;
	min-height: 900px;
}
#logo{
	width: 90px;
    margin-left: 18px;
    margin-top: 5px;
}
#control-panel-row{
	text-align: center;
	margin-bottom: 25px;
	margin-top: 25px;
}
.order-panel{
	min-height: 85px;
	border-radius: 5px;
	border: 1px black solid;
	padding: 5px;
	margin-bottom: 5px;
}
#order-num-panel{
	font-weight: 500;
}
.process-order-btn {
    position: relative;
    top: -7px;
}
.control-btns{
	cursor: pointer;
}
.Unprocessed-status{
	color: #ff0000;
}
.Processed-status{
	color: #f5c71a;
}
.Shipped-status{
	color: #32cd32;
}
#process-order-div{
	margin-top: 25px;
	border-radius: 5px;
	border: 1px black solid;
	padding: 20px;
}
.bold-title{
	font-weight: 700;
}
#address-row{
	margin-top: 10px;
}
#address-div{
	text-align: center;
}
#order-info-div{
	text-align: center;
}

#calc-ship-btn-div{
	margin-top: 20px;
	text-align: center;
}
#label-preview-col{
	text-align: center;
}
#label-preview-img{
	width: 350px;
	margin: auto 0;
}
#label-preview-row{
	text-align: center;
	margin-bottom: 150px;
}
#label-info-div{
    height: 150px;
    width: 400px;
    border: 1px #000 solid;
    padding: 15px;
    margin-top: 50px;
    text-align: left;
}
.label-info-titles{
	font-weight: 700;
}
#print-label-btn{
	margin-right: 10px;
	width: 350px;
	margin-top: 15px;
}
#print-label-btn-col{
	text-align: left;
}
#calc-ship-btn{
	width: 165px;
}
#error-title{
	color: #FF0000;
	font-weight: 700;
}
#address-error-div{
	border: 1px #FF0000 solid;
	padding: 20px;
	margin-top: 5px;

}





.loader-container{
	width: 20px;
	height: 20px;
	margin: 6px auto;
	position: relative;
	border-radius: 50%;
	display: none;
}
.loader-container div {
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .4);
	position: absolute;
	animation-name: anime;
	animation-duration: .8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.one {
	top: 0;
	left: 50%;
	transform: translate(-50%,-50%);
	animation-delay: .14s;
}
.two {
	top: 16%;
	left: 84%;
	transform: translate(-50%,-50%);
	animation-delay: .2s;
}
.three {
	top: 50%;
	left: 100%;
	transform: translate(-50%,-50%);
	animation-delay: .3s;
}
.four {
	top: 84%;
	left: 84%;
	transform: translate(-50%,-50%);
	animation-delay: .4s;
}
.five {
	top: 100%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation-delay: .5s;
}
.six {
	top: 84%;
	left: 16%;
	transform: translate(-50%,-50%);
	animation-delay: .6s;
}
.seven {
	top: 50%;
	left: 0;
	transform: translate(-50%,-50%);
	animation-delay: .7s;
}
.eight {
	top: 16%;
	left: 16%;
	transform: translate(-50%,-50%);
	animation-delay: .8s;
}
@keyframes anime {
	0% { width: 5px; height: 5px; background-color: #ccc; }
	100% { width: 10px; height: 10px; background-color: #fff; }
}